<!DOCTYPE html>
<html lang="vi">

<head>
  <% include ../elements/header.ejs %>

</head>

<body class="animsition">
  <div class="page-wrapper">
    <% include ../elements/mobile-menu.ejs %>
    <% include ../elements/pc-menu.ejs %>

    <!-- PAGE CONTAINER-->
    <div class="page-container">

      <!-- HEADER DESKTOP-->
      <% include ../elements/header-desktop.ejs %>
      <!-- MAIN CONTENT-->
      <div class="main-content">
        <div class="section__content section__content--p30">
          <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="overview-wrap">
                        <h2 class="title-1">Thông tin người dùng</h2>
                    </div>
                </div>
            </div>

            <div class="login-form">
                <form method="post" name="changeInfoForm" onsubmit="return validateChangeInfoForm();">
                    <div class="form-group">
                        <label>Họ và tên</label>
                        <input class="au-input au-input--full" id="name-id" type="text" name="fullName" placeholder="Họ và tên" value="<%= username%>">

                    </div>

                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <input class="au-input au-input--full" type="number" name="phone" placeholder="Số điện thoại" value="<%= phone %>">

                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input class="au-input au-input--full" type="text" name="address" placeholder="Địa chỉ" value="<%= address %>">

                    </div>


                    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Thay đổi</button>
                </form>
            </div>

            <div class="row">
              <div class="col-md-12">
                  <div class="copyright">
                      <p id='p'>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
      </div>

  </div>

  <% include ../elements/scripts.ejs %>

  <script>
    function validateChangeInfoForm() {
        const fullname = document.getElementById('name-id').value;

        if (fullname == "") {
            alert("Họ và tên không được để trống");
            return false;

        }
    }
  </script>

</body>

</html>
