<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../elements/header.ejs %>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <% include ../elements/mobile-menu.ejs %>
        <% include ../elements/pc-menu.ejs %>

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <% include ../elements/header-desktop.ejs %>

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <!-- USER DATA-->
                                <div class="user-data m-b-30">
                                    <h3 class="title-3 m-b-30">
                                        <i class="zmdi zmdi-account-calendar"></i>Dữ liệu người dùng</h3>

                                    <div class="table-responsive table-data">
                                        <table id="accountTable" class="table">
                                            <thead>
                                                <tr>
                                                    <td>
                                                    </td>
                                                    <td>Họ Tên</td>
                                                    <td>Vai trò</td>
                                                    <td>Quyền hạn</td>
                                                    <td>Trạng thái</td>
                                                    <td></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="loadmore" class="user-data__footer">
                                        <button class="au-btn au-btn-load" onclick="return addList();">load more</button>
                                    </div>
                                </div>
                                <!-- END USER DATA-->
                            </div>
                        </div>
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <h4>Trạng thái các đơn hàng</h4>
                                <div class="table-responsive m-b-40 mt-4">
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr>
                                                <th>Ngày tạo đơn</th>
                                                <th>Loại</th>
                                                <th>Chi tiết</th>
                                                <th>Tình trạng</th>
                                                <th>Giá</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>2018-09-29 05:57</td>
                                                <td>Mobile</td>
                                                <td>iPhone X 64Gb Grey</td>
                                                <td class="process">Đã giao</td>
                                                <td>$999.00</td>
                                            </tr>
                                            <tr>
                                                <td>2018-09-28 01:22</td>
                                                <td>Mobile</td>
                                                <td>Samsung S8 Black</td>
                                                <td class="process">Đã giao</td>
                                                <td>$756.00</td>
                                            </tr>
                                            <tr>
                                                <td>2018-09-27 02:12</td>
                                                <td>Game</td>
                                                <td>Game Console Controller</td>
                                                <td class="denied">Huỷ</td>
                                                <td>$22.00</td>
                                            </tr>
                                            <tr>
                                                <td>2018-09-26 23:06</td>
                                                <td>Mobile</td>
                                                <td>iPhone X 256Gb Black</td>
                                                <td class="denied">Huỷ</td>
                                                <td>$1199.00</td>
                                            </tr>
                                            <tr>
                                                <td>2018-09-25 19:03</td>
                                                <td>Accessories</td>
                                                <td>USB 3.0 Cable</td>
                                                <td class="process">Đã giao</td>
                                                <td>$10.00</td>
                                            </tr>
                                            <tr>
                                                <td>2018-09-29 05:57</td>
                                                <td>Accesories</td>
                                                <td>Smartwatch 4.0 LTE Wifi</td>
                                                <td class="denied">Huỷ</td>
                                                <td>$199.00</td>
                                            </tr>
                                            <tr>
                                                <td>2018-09-24 19:10</td>
                                                <td>Camera</td>
                                                <td>Camera C430W 4k</td>
                                                <td class="process">Đã giao</td>
                                                <td>$699.00</td>
                                            </tr>
                                            <tr>
                                                <td>2018-09-22 00:43</td>
                                                <td>Computer</td>
                                                <td>Macbook Pro Retina 2017</td>
                                                <td class="process">Đã giao</td>
                                                <td>$10.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <% include ../elements/scripts.ejs %>
    <script>
      let userList = [];
      let page = 0;
      let totalAccount;

      addList();

      async function addList() {
        page = page + 1;
        await getListUsers(page);

        var tableRef = document.getElementById('accountTable').getElementsByTagName('tbody')[0];
        tableRef.innerHTML = '';

        for(i = 0; i < userList.length; i++)
        {
          addRow(userList[i].fullName, userList[i].email, userList[i].role, userList[i].isBanned);
        }
      }


      async function getListUsers(pageNumber) {
        var response;

          response = await fetch("http://localhost:3000/api/list-user?page=" + pageNumber);

        const data = await response.json();

        const accounts = data.accounts;
        totalAccount = data.total;

        if (response == 'Page number is not defined')
        {
          return;
        }

        for (i=0; i<accounts.length; i++)
        {
          userList.push(accounts[i]);
        }
        if (userList.length == totalAccount)
          document.getElementById("loadmore").style.visibility = "hidden";
      }

       function addRow(name, email, permission, isBanned){
        var tableRef = document.getElementById('accountTable').getElementsByTagName('tbody')[0];

        var newRow = tableRef.insertRow();

        var newCell0 = newRow.insertCell(0);
        var newCell1 = newRow.insertCell(1);
        var newCell2 = newRow.insertCell(2);
        var newCell3 = newRow.insertCell(3);
        var newCell4 = newRow.insertCell(4);
        var newCell5 = newRow.insertCell(5);

        newCell0.innerHTML = '<td><label class="au-checkbox"><input type="checkbox"><span class="au-checkmark"></span></label></td>';
        newCell1.innerHTML = '<td><div class="table-data__info"><h6>' +  name + '</h6><span><a href="#">' + email + '</a></span></div></td>';

        if (email === 'superadmin@gmail.com')
          newCell2.innerHTML = '<span class="role admin">Super Admin</span>';
        else if (permission == 'admin') {
          newCell2.innerHTML = '<span class="role member">Admin</span>';
        }
        else if (permission == 'user') {
          newCell2.innerHTML = '<span class="role user">User</span>';
        }

        newCell3.innerHTML = '<div class="rs-select2--trans rs-select2--sm"> <select class="js-select2 select2-hidden-accessible" name="property" tabindex="-1" aria-hidden="true"> <option selected="selected">Full Control</option> <option value="">Post</option> <option value="">Watch</option> </select><span class="select2 select2-container select2-container--default select2-container--focus" dir="ltr" style="width: 106px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-property-5v-container"><span class="select2-selection__rendered" id="select2-property-5v-container" title="Full Control">Full Control</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span> <div class="dropDownSelect2"></div></div>';
        if (isBanned == false)
        {
          newCell4.innerHTML =  '<td><h5>Hoạt động</h5></td>';
        }
        else {
          newCell4.innerHTML = '<td><h5>Bị khóa</h5></td>';
        }

        newCell5.innerHTML = '<td> <span class="more"> <i class="zmdi zmdi-more"></i> </span> </td>';
      }



    </script>
</body>

</html>
<!-- end document-->
