<!--::header part start::-->
<header class="main_menu home_menu">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-11">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/"> <img src="img/logo.png" alt="logo"> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu_icon"><i class="fas fa-bars"></i></span>
                    </button>

                    <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Trang chủ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/category">Cửa hàng</a>
                            </li>
                          
                            <% if (!isAuthenticated) {%> 
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/login">Đăng nhập</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/register">Đăng ký</a>
                                </li>
                            <% } else {%>
                                <li class="nav-item">
                                    <a onclick="return removeLocal();" class="nav-link" href="/user/logout">Đăng xuất</a>
                                </li>
                            <% } %>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/blog" id="navbarDropdown_3"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Khác
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                    <a class="dropdown-item" href="/cart">giỏ hàng</a>
                                    <a class="dropdown-item" href="/confirmation">xác nhận đơn hàng</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="hearer_icon d-flex">
                        <% if (isAuthenticated) {%> 
                            <h4> <%= username %></h4>
                        <% } %>
                        <div>
                            <a id="my-cart" href="/cart">
                                <i class="ti-bag"></i>
                                <span id="cart-size" class="span-item">0</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="search_input" id="search_input_box">
        <div class="container ">
            <form class="d-flex justify-content-between search-inner">
                <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                <button type="submit" class="btn"></button>
                <span class="ti-close" id="close_search" title="Close Search"></span>
            </form>
        </div>
    </div>
</header>