<!-- HEADER DESKTOP-->
<header class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header" action="" method="POST">

                </form>
                <div class="header-button">
                    <div class="noti-wrap">


                    </div>
                    <div class="account-wrap">
                        <div class="account-item clearfix js-item-menu">
                            <div class="image">
                                <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                            </div>
                            <div class="content">
                                <% if (isAuthenticated) {%>
                                <a class="js-acc-btn" href="#"><%= username %></a>
                                <% } %>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h5 class="name">
                                            <% if (isAuthenticated) {%>
                                            <a href="#"><%= username %></a>
                                            <% } %>
                                        </h5>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="admin/change-info">
                                            <i class="zmdi zmdi-account"></i>Thông tin tài khoản</a>
                                    </div>
                                    <% if (loginname == 'superadmin') {%>
                                    <div class="account-dropdown__item">
                                            <a href="admin/register">
                                                <i class="zmdi zmdi-plus-square"></i>Thêm tài khoản mới</a>
                                    </div>
                                    <% } %>
                                </div>
                                <div class="account-dropdown__footer">
                                    <a href="admin/logout">
                                        <i class="zmdi zmdi-power"></i>Đăng xuất</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
