<% breadcrumbValue = 'Trang chủ / Cửa hàng'%>
<head>
    <% include ../header.ejs %>
</head>

<body class="bg-white">
    
    <% include ../main-menu.ejs %>
    

    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->

    <% include ../breadcrumb.ejs %>
    
    <!-- breadcrumb start-->

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_padding border_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets sidebar_box_shadow">
                            <div class="l_w_title">
                                <h3>Các loại sản phẩm</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li class="sub-menu">
                                        <a class=" d-flex justify-content-between">
                                            Áo
                                            <div class="right ti-plus"></div>
                                        </a>
                                        <ul>
                                            <li>
                                                <a id="0-áo len" onclick="return filterClick(this);">Áo len</a>
                                            </li>
                                            <li>
                                                <a id="0-áo hoodie" onclick="return filterClick(this);">Áo hoodie</a>
                                            </li>
                                            <li>
                                                <a id="0-áo khoác" onclick="return filterClick(this);">Áo khoác</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu">
                                        <a class=" d-flex justify-content-between">
                                            Quần
                                            <div class="right ti-plus"></div>
                                        </a>
                                        <ul>
                                            <li>
                                                <a id="0-quần tây" onclick="return filterClick(this);">Quần tây</a>
                                            </li>
                                            <li>
                                                <a id="0-quần jean" onclick="return filterClick(this);">Quần jean</a>
                                            </li>
                                            <li>
                                                <a id="0-quần kaki" onclick="return filterClick(this);">Quần kaki</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a id="0-giày" onclick="return filterClick(this);">Giày các loại</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets sidebar_box_shadow">
                            <div class="l_w_title">
                                <h3>Lọc Sản Phẩm</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <h5 style="font-weight: bold">Thương hiệu</h5>
                                    
                                    <li>
                                        <a id="1-Winter" onclick="return filterClick(this);" >&nbsp&nbspWinter</a>
                                    </li>
                                    <li>
                                        <a id="1-Wephobia" onclick="return filterClick(this);" >&nbsp&nbspWephobia</a>
                                    </li>
                                    <li class="active">
                                        <a id="1-Magonn" onclick="return filterClick(this);" >&nbsp&nbspMagonn</a>
                                    </li>
                                    <li>
                                        <a id="1-Libe" onclick="return filterClick(this);" >&nbsp&nbspLibe</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <input onkeyup="return search(this);" class="form-control" type="text" placeholder="Tìm kiếm..." id="searchKey">  
                        </div>
                        <div class="col-lg-8" id="filter-area">

                        </div>    

                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <div class="single_product_menu product_bar_item">
                                    <a href="/category"> <h2>Tất cả</h2></a>
                                </div>
                                <div class="product_top_bar_iner product_bar_item d-flex">
                                    <div class="product_bar_single">
                                        <select id="sortType" onchange="return selectChange(this);" class="wide">
                                            <option id="o1" value="1" >Giá thấp đến cao</option>
                                            <option id="o2" value="-1" >Giá cao đến thấp</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="product-list" class="row">

                        </div>
                        
                        <div class="col-lg-12 text-center">
                            <div class="block-27">
                                <ul id="page-number">
                                </ul>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Category Product Area =================-->

    <% include ../footer.ejs %>
    <% include ../script.ejs %>
    <script>
        let pageSelected = 1;
        let currentProductList;
        let typeFilter = [];
        let brandFilter = [];
        let cartList = [];
        let sort = 0;
        const LINK_API = 'http://localhost:3000/api/';
        const isLogin = <%= isAuthenticated%>;

        const cartListString = window.localStorage.getItem("cartList");
        if (cartListString != ""){
            cartList = JSON.parse(cartListString);
        }

        displayProdustList();
        

        async function displayProdustList(){
            let linkConn = LINK_API + 'list-product?page=' + pageSelected;
            if (typeFilter.length > 0){
                linkConn += '&type=';
                for (i = 0; i < typeFilter.length; i++){
                    linkConn += typeFilter[i];
                    if (i != typeFilter.length - 1){
                        linkConn += ',';
                    }
                }
            }

            if (brandFilter.length > 0){
                linkConn += '&brand=';
                for (i = 0; i < brandFilter.length; i++){
                    linkConn += brandFilter[i];
                    if (i != brandFilter.length - 1){
                        linkConn += ',';
                    }
                }
            }

            if (sort != 0){
                linkConn = linkConn + '&sort=' + sort;
            }

            const response = await fetch(linkConn);
            const data = await response.json();

            createPageNumber(data.total);

            if (data.total > 0)
                document.getElementById('li' + pageSelected).classList.add('active');

            currentProductList = data.productList;

            const productListTag = document.getElementById('product-list');
            productListTag.innerHTML = "";

            for (i = 0; i < currentProductList.length; i++){
                const product = currentProductList[i];
                addProduct(product._id, product.image, product.name, product.price, i);
            }
        }

        function search(tag){
            const content = tag.value.toLowerCase();

            let filedList = [];

            currentProductList.forEach(item => {
                if (item.name.toLowerCase().includes(content)){
                    filedList.push(item);
                }
            });

            const productListTag = document.getElementById('product-list');
            productListTag.innerHTML = "";

            for (i = 0; i < filedList.length; i++){
                const product = filedList[i];
                addProduct(product._id, product.image, product.name, product.price, i);
            }
        }
        async function clickPageNumberEvent(tag){
            const pageClicked = tag.id.substring(1);
            document.getElementById('li' + pageSelected).classList.remove('active');
            document.getElementById('li' + pageClicked).classList.add('active');
            pageSelected = pageClicked;
            await displayProdustList();
            const searchTag = document.getElementById('searchKey');
            search(searchTag);
        }

        function addProduct(id, image, name, price, index){
            const htmlElement = '<div class="single_category_product"> <div class="single_category_img"> <a href="/category/' + id + '"> <img src="' + image + '" height="259" width="500" alt=""> </a> <div class="category_social_icon"> <ul><li><a id="i-' + index + '" onclick="return addCartClick(this);"><i class="ti-bag"></i></a></li></ul> </div><div class="category_product_text"> <a href="/category/' + id + '"> <h5>' + name + '</h5></a> <p>' + formatMoney(price) + '</p></div></div></div>';
            const div = document.createElement('div');
            div.className = "col-lg-3 col-sm-6";
            div.innerHTML = htmlElement;
            const productList = document.getElementById('product-list');
            productList.appendChild(div);
        }

        function createPageNumber(totalItem){
            let pages = totalItem / 12;
            if (!Number.isInteger(pages)) pages++;

            const pageNumberTag = document.getElementById('page-number');
            pageNumberTag.innerHTML = "";
            for (i = 1; i <= pages; i++){
                const li = document.createElement('li');
                li.id = 'li' + i;
                li.className = "ml-2";
                li.innerHTML = '<a id="p' + i +'" onclick="return clickPageNumberEvent(this);">' + i + '</a>';
                pageNumberTag.appendChild(li);
            }
        }

        function addFilter(content, filterType){
            let htmlElement;
            if (filterType == 0){
                htmlElement = '<div class="col-lg-3 ml-1 badge badge-pill badge-primary mt-2 p-2"> <span style="font-size: 15px;">' + content + '</span> <span style="font-size: 10px;" class="badge badge-light float-right">x</span> </div>'
            }
            else{
                htmlElement ='<div class="col-lg-3 ml-1  badge badge-pill badge-danger mt-2 p-2"> <span style="font-size: 15px;">' + content + '</span> <span style="font-size: 10px;" class="badge badge-light float-right">x</span> </div>'
            }

            const a = document.createElement('a');
            a.id = filterType + '-' + content + '-area';
            a.onclick = () => { filterItemClick(a.id)};
            a.innerHTML = htmlElement;
            const filterArea = document.getElementById('filter-area');
            filterArea.appendChild(a);

        }

        function filterItemClick(id){
            const tag = document.getElementById(id);
            tag.parentNode.removeChild(tag);
            const tokens = tag.id.split('-');

            if (tokens[0] == 0){
                typeFilter.splice(typeFilter.indexOf(tokens[1]), 1);
                displayProdustList();
            }
            else{
                if (tokens[0] == 1){
                    brandFilter.splice(brandFilter.indexOf(tokens[1]), 1);
                    displayProdustList();
                }
            }

        }
        function filterClick(tag){
            const id = tag.id;
            const tokens = id.split('-');

            if (checkExits(tokens[1], tokens[0]) == false){
                if (tokens[0] == 0){
                    typeFilter.push(tokens[1]);
                    addFilter(tokens[1], tokens[0]);
                    pageSelected = 1;
                    displayProdustList();
                }else{
                    if (tokens[0] == 1){
                        brandFilter.push(tokens[1]);
                        addFilter(tokens[1], tokens[0]);
                        pageSelected = 1;
                        displayProdustList();
                    }
                }
            }
        }

        function checkExits(content, filterType){
            if (filterType == 0){
                for (i = 0; i < typeFilter.length; i++){
                    if (typeFilter[i] == content)
                        return true;
                }
            }
            else{
                for (i = 0; i < brandFilter.length; i++){
                    if (brandFilter[i] == content)
                        return true;
                }
            }

            return false;
        }

        function formatMoney(money) {
            money = money.toString();
            var format = "";
            let i = money.length,
            k = 0;
            while (i-- > 0) {
            format = money[i] + format;
            k++;
            if (k % 3 === 0 && i != 0) format = "." + format;
            }
            format += "VNĐ";
            return format;
        }

        function selectChange(tag){
            sort = tag.value;
            displayProdustList();
        }

        function addCartClick(tag){
            const id = tag.id;
            const tokens = id.split('-');
            let index = findIndex(currentProductList[parseInt(tokens[1])]);

            if (index != -1){
                cartList[index].quantity++;
                cartList[index].totalPrice = cartList[index].quantity * cartList[index].product.price;
            }
            else{
                index = cartList.length;
                const cartItem = {product: currentProductList[tokens[1]], quantity: 1, 
                    totalPrice: currentProductList[tokens[1]].price};
                cartList.push(cartItem);
            }
            if (isLogin){
                const cartAdd = cartList[index];
                addItemToUserCart(window.localStorage.getItem('userId'), cartAdd.product._id, cartAdd.quantity, cartAdd.totalPrice);
            }
            const tagSizeCart = document.getElementById('cart-size');
            let size = parseInt(tagSizeCart.innerText);
            size++;
            tagSizeCart.innerText = size;
            window.localStorage.setItem("cartSize", size.toString());
            window.localStorage.setItem("cartList", JSON.stringify(cartList));
        }

        async function addItemToUserCart(userId, productId, quantity, totalPrice){
            const data = {userId: userId, productId: productId, quantity: quantity, totalPrice: totalPrice};
            await fetch(LINK_API + 'update-cart',{
                method: 'POST',
                headers:{
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
        }

        function findIndex(product){
            let res = -1;
            for (i = 0; i < cartList.length; i++){
                if (product._id == cartList[i].product._id)
                {
                    res = i;
                    return res;
                }
            }
            return res;
        }

    </script>

</body>

</html>