<!doctype html>
<html lang="zxx">

<head>
  <% include ../header.ejs %>
</head>

<body>
  <% include ../main-menu.ejs %>

  <!--================Home Banner Area =================-->
  <% include ../breadcrumb.ejs %>

  <!--================Checkout Area =================-->
  <section class="checkout_area section_padding">
    <div class="container">
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h3>Thông tin người nhận</h3>
            <form class="row contact_form" action="#" method="post" novalidate="novalidate">
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="name" name="name" placeholder="Họ và tên"/>
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="number" class="form-control" id="phone" name="phone" placeholder="Số điện thoại" />
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="email" class="form-control" id="email" name="email" placeholder="email"/>
              </div>
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="address" name="addr" placeholder="Địa chỉ"/>
              </div>
              <div class="col-md-12 form-group">
                <textarea class="form-control" name="message" id="note" rows="1"
                  placeholder="Ghi chú thêm"></textarea>
              </div>
            </form>
          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Đơn hàng của bạn</h2>
              <ul id="pending-list" class="list">
                <li>
                  <a style="font-weight: bolder;">Sản phẩm
                    <span>Giá tiền</span>
                  </a>
                </li>
              </ul>
              <ul class="list list_2">
                <li>
                  <a>Tổng
                    <span id="total-bill"></span>
                  </a>
                </li>
              </ul>


              <a onclick="return checkoutBill();" class="btn_3" >Thanh toán</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->

  <% include ../footer.ejs %>

  <% include ../script.ejs %>
  <script>
    const LINK_API = 'http://localhost:3000/api/';
    const cartListString = window.localStorage.getItem("cartList");
    let cartList = [];
    if (cartListString != "" && cartListString != null){
      cartList = JSON.parse(cartListString);
    }

    displayOrderBox();

    function displayOrderBox(){
      let totalPriceBill = 0;
      cartList.forEach((item) => {
        addProduct(item.product.name, item.quantity, formatMoney(item.totalPrice));
        totalPriceBill += item.totalPrice;
      });
      document.getElementById('total-bill').innerText = formatMoney(totalPriceBill);
    }

    function addProduct(name, quantity, price) {
      const htmlElement = '<a>'+ name +'<span class="middle">x'+quantity+'</span> <span class="last">'+price+'</span> </a>';
      const li = document.createElement('li');
      li.className = "";
      li.innerHTML = htmlElement;
      const pendingProductList = document.getElementById('pending-list');
      pendingProductList.appendChild(li);

    }

    async function checkoutBill(){
      if (!validateForm())
      {
        alert('Lỗi: Thông tin rỗng!');
      }
      else{
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const phone = document.getElementById('phone').value;
        const address = document.getElementById('address').value;
        const note = document.getElementById('note').value;
        const userId = window.localStorage.getItem('userId');
        const now = new Date();

        const userInfo = {name: name, phone: phone, email: email, address: address, note: note, id: userId};
        const data = {userInfo: userInfo, cartList: cartList, createOn: now};

        const response = await fetch(LINK_API + 'checkout',{
          method: 'POST',
          headers:{
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(data) 
        });
        const result = await response.json();

        if (result.res == true){
          alert('Thanh toán thành công!');
          removeLocal();
          window.location.href = '/category';
        }else{
          alert(result.message);
          window.location.href = '/cart';
        }
      }
    }

    function removeLocal(){
      window.localStorage.setItem("cartList", "");
      window.localStorage.setItem("cartSize", "0");
      window.localStorage.setItem("userId", "");
      window.localStorage.setItem("isLoaded", "");
    } 

    function formatMoney(money) {
        money = money.toString();
        var format = "";
        let i = money.length,
        k = 0;
        while (i-- > 0) {
        format = money[i] + format;
        k++;
        if (k % 3 === 0 && i != 0) format = "." + format;
        }
        format += "VNĐ";
        return format;
    }

    function validateForm(){
      const name = document.getElementById('name').value;
      const email = document.getElementById('email').value;
      const phone = document.getElementById('phone').value;
      const address = document.getElementById('address').value;
      const note = document.getElementById('note').value;

      if (name != "" && email != "" && phone != "" && address != "")
        return true;
      
      return false;
    }
  </script>
</body>

</html>
