<!doctype html>
<html lang="zxx">

<head>
  <% include ../header.ejs %>
</head>

<body>
  <% include ../main-menu.ejs %>

  <!--================Home Banner Area =================-->
  <% include ../breadcrumb.ejs %>

  <!--================Checkout Area =================-->
  <section class="checkout_area section_padding">
    <div class="container">
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h3>Thông tin người nhận</h3>
            <form class="row contact_form" action="#" method="post" novalidate="novalidate">
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="first" name="name" />
                <span class="placeholder" data-placeholder="Họ và Tên"></span>
              </div>

              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="number" name="number" />
                <span class="placeholder" data-placeholder="Số điện thoại"></span>
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="email" name="compemailany" />
                <span class="placeholder" data-placeholder="Địa chỉ email"></span>
              </div>
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="add1" name="add1" />
                <span class="placeholder" data-placeholder="Địa chỉ"></span>
              </div>
              <div class="col-md-12 form-group">
                <textarea class="form-control" name="message" id="message" rows="1"
                  placeholder="Ghi chú thêm"></textarea>
              </div>
            </form>
          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Đơn hàng của bạn</h2>
              <ul id="pending-list" class="list">
                <li>
                  <a href="#">Sản phẩm
                    <span>Giá tiền</span>
                  </a>
                </li>
                <li>
                  <a href="#">Fresh B
                    <span class="middle">x 02</span>
                    <span class="last">$720.00</span>
                  </a>
                </li>
                <li>
                  <a href="#">Fresh Tomatoes
                    <span class="middle">x 02</span>
                    <span class="last">$720.00</span>
                  </a>
                </li>
                <li>
                  <a href="#">Fresh Brocoli
                    <span class="middle">x 02</span>
                    <span class="last">$720.00</span>
                  </a>
                </li>
              </ul>
              <ul class="list list_2">
                <li>
                  <a href="#">Giá các sản phẩm
                    <span>$2160.00</span>
                  </a>
                </li>

                <li>
                  <a href="#">Tổng
                    <span>$2210.00</span>
                  </a>
                </li>
              </ul>


              <a class="btn_3" href="#">Thanh toán</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->

  <% include ../footer.ejs %>

  <% include ../script.ejs %>
  <script>
    function addProduct(name, quantity, price) {
      const htmlElement = '<li> <a href="#">'+ name +'<span class="middle">x'+quantity+'</span> <span class="last">'+price+'</span> </a> </li>';
      const li = document.createElement('li');
      li.className = "";
      li.innerHTML = htmlElement;
      const pendingProductList = document.getElementById('pending-list');
      pendingProductList.appendChild(li);

    }
  </script>
</body>

</html>
