<head>
  <% include ../header.ejs %>
</head>

<body class="bg-white">
  <% include ../main-menu.ejs %>

  <!--================Home Banner Area =================-->
  <% include ../breadcrumb.ejs %>

  <!--================ confirmation part start =================-->
  <section class="confirmation_part section_padding">
    <div id="area" class="container">
      <div id="load" class="loading">
        <div class="loader"></div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="confirmation_tittle">
            <span>Danh sách đơn hàng đã nhận.</span>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!--================ confirmation part end =================-->

  <!-- subscribe_area part start-->
  <section class="instagram_photo">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="instagram_photo_iner">
            <div class="single_instgram_photo">
              <img src="img/instagram/inst_1.png" alt="">
              <a href="#"><i class="ti-instagram"></i></a>
            </div>
            <div class="single_instgram_photo">
              <img src="img/instagram/inst_2.png" alt="">
              <a href="#"><i class="ti-instagram"></i></a>
            </div>
            <div class="single_instgram_photo">
              <img src="img/instagram/inst_3.png" alt="">
              <a href="#"><i class="ti-instagram"></i></a>
            </div>
            <div class="single_instgram_photo">
              <img src="img/instagram/inst_4.png" alt="">
              <a href="#"><i class="ti-instagram"></i></a>
            </div>
            <div class="single_instgram_photo">
              <img src="img/instagram/inst_5.png" alt="">
              <a href="#"><i class="ti-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--::subscribe_area part end::-->

  <% include ../footer.ejs %>

  <% include ../script.ejs %>

  <script>
    const LINK_API = 'http://localhost:3000/api/';

    getListBill();

    async function getListBill(){
      displayLoading();
      const userId = window.localStorage.getItem('userId');
      const response = await fetch(LINK_API + '/user-bill?id=' + userId);
      const data = await response.json();

      for (i = 0; i < data.length; i++){
        addBill(i, data[i].fullname, data[i].address, data[i].cartList);
      }
      hiddenLoading();
    }

    function formatMoney(money) {
        money = money.toString();
        var format = "";
        let i = money.length,
        k = 0;
        while (i-- > 0) {
        format = money[i] + format;
        k++;
        if (k % 3 === 0 && i != 0) format = "." + format;
        }
        format += "VNĐ";
        return format;
    }

    function addBill(index, fullname, address, cartList){
      const htmlElement = '<div class="col-lg-12"> <div class="order_details_iner"> <h3>Chi tiết đơn hàng - ' + fullname + ' - ' + address + 
        '</h3> <table class="table table-borderless"> <thead> <tr> <th scope="col" colspan="2">Sản phẩm</th> <th scope="col">Số lượng</th> <th class="float-right" scope="col">Tổng</th> </tr></thead> <tbody id="b-' + index + 
          '"> </tbody> <tfoot id="f-' + index + '"> </tfoot> </table> </div></div>';
      const div = document.createElement('div');
      div.className = 'row';
      div.innerHTML = htmlElement;

      const area = document.getElementById('area');
      area.appendChild(div);
      
      let totalBill = 0;
      cartList.forEach(item => {
        addRow('b-' + index, item.product.name, item.quantity, formatMoney(item.totalPrice));
        totalBill += item.totalPrice;
      });    

      addTotalRow('f-' + index, formatMoney(totalBill));
    }

    function addRow(idBody, name, quantity, price){
      const htmlElement = ' <th colspan="2"><span>' + name + '</span></th> <th>x' + quantity + '</th> <th> <span class="float-right">' + price + '</span></th>';
      const tr = document.createElement('tr');
      tr.innerHTML = htmlElement;
      const body = document.getElementById(idBody);
      body.appendChild(tr);
    }

    function addTotalRow(idFoot, totalPrice){
      const htmlElement = ' <th scope="col" colspan="3">Tổng</th> <th class="float-right">' + totalPrice + '</th>';
      const tr = document.createElement('tr');
      tr.innerHTML = htmlElement;
      const foot = document.getElementById(idFoot);
      foot.appendChild(tr);
    }

    function displayLoading(){
      const loadScreen = document.getElementById('load').style.visibility = "visible";
    }
    function hiddenLoading(){
      const loadScreen = document.getElementById('load').style.visibility = "hidden";
    }
  </script>
</body>

</html>