<head>
    <% include ../header.ejs %>
    
</head>

<body class="bg-white">

    <% include ../main-menu.ejs %>
    <!--================Home Banner Area =================-->
    <% include ../breadcrumb.ejs %>

    <!--================login_part Area =================-->
    <section class="login_part section_padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>Lần đầu tiên đến shop?</h2>
                            <p>Có rất nhiều tiện ích và ưu đãi khi đăng kí làm thành viên của Winter Shop.</p>
                            <a href="/register" class="btn_3">Tạo tài khoản ngay bây giờ ?</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>QUÊN MẬT KHẨU</h3>
                            <form class="row contact_form"  method="post" novalidate="novalidate" onsubmit="return validateEmail()">
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="email" name="email" value=""
                                        placeholder="Địa chỉ email">
                                    <output id="validate-email" style="color: red;"> </output>
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit" value="submit" class="btn_3">
                                        Gửi
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->
    <script>
        function validateEmail(){
            const email = document.getElementById('email').value;
            const reg = /^[a-z][a-z0-9_\.]{5,32}@[a-z0-9]{2,}(\.[a-z0-9]{2,4}){1,2}$/;
            if (reg.test(email) == false)
            {
                document.getElementById('validate-email').value = "Nhập không đúng cấu trúc email.";
                return false;
            }
            return true;
        }
    </script>

    <% if (!isEmailExist) {%>
        <script>
            alert('Email chưa được đăng ký.');
        </script>
    <% } %> 
    
    <% if (isSendEmailDone) {%>
        <script>
            alert('Thành công.\r\nVui lòng kiểm tra email để cập nhật lại mật khẩu.');
        </script>
    <% } %>    
    <% include ../footer.ejs %>

    <% include ../script.ejs %>
</body>

</html>