<head>
    <% include ../header.ejs %>
</head>

<body class="bg-white">
	
	<% include ../main-menu.ejs %>

    <% include ../breadcrumb.ejs %>

    <!-- about part here -->
   

	
	<% include ../footer.ejs %>
	<% include ../script.ejs %>
       
</body>

    </html>